@font-face {
    font-family: merriweather;
    src: url(./fonts/merriweather/Merriweather-Regular.woff);
}

@font-face {
    font-family: merriweather_bold;
    src: url(./fonts/merriweather/Merriweather-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: merriweather_light;
    src: url(/fonts/merriweather/Merriweather-Light.woff);
    font-weight: lighter;
}

/* section "reasons" */

#reasons > h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: merriweather_light;
    font-size: 40px;
    color: #252525;
}

.para_reasons {
    font-family: merriweather_light;
    font-size: 14px;
    margin-bottom: 60px;
    color: #858585;
}

.titres_section_reasons {
    margin-bottom: 20px;
    font-size: 22px;
    color: #555555;
    font-family: merriweather;
}

.paragraphe {
    display: flex;
}

.paragraphe > div > img {
    padding-right: 30px;
}

/* Section "our_book"  */

#our_book {
    background-color: #
}
