@font-face {
    font-family: merriweather;
    src: url(./fonts/merriweather/Merriweather-Regular.woff);
}

@font-face {
    font-family: merriweather_bold;
    src: url(./fonts/merriweather/Merriweather-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: merriweather_light;
    src: url(/fonts/merriweather/Merriweather-Light.woff);
    font-weight: lighter;
}

img {
    max-width: 100%;
}

.cont_width {
    max-width: 1142px;
}

/* section "reasons" */

#reasons > h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: merriweather_light;
    font-size: 40px;
    color: #252525;
}

.para_reasons {
    font-family: merriweather_light;
    font-size: 14px;
    margin-bottom: 60px;
    color: #858585;
}

.titres_section_reasons {
    margin-bottom: 20px;
    font-size: 22px;
    color: #555555;
    font-family: merriweather;
}

.d-flex > div > img {
    padding-right: 20px;
    width: 240px;
}

/* Section "our_book"  */

#our_book {
    background-color: #edf4f8;
    margin: 0;
}

.img_our_book {
    padding-top: 100px;
    padding-bottom: 100px;
}

.margin_paragraphe {
    padding-top: 100px;
    padding-bottom: 100px;
}

.para_1 {
    font-size: 2.7rem;
    color: #252525;
}

.para_2 {
    font-size: 2rem;
    color: #858585;
    font-family: merriweather_light;
}

.para_3 {
    font-size: 17px;
    color: #858585;
    font-family: merriweather_light;
}