@font-face {
    font-family: merriweather;
    src: url(./fonts/merriweather/Merriweather-Regular.woff);
}

@font-face {
    font-family: merriweather_bold;
    src: url(./fonts/merriweather/Merriweather-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: merriweather_light;
    src: url(/fonts/merriweather/Merriweather-Light.woff);
    font-weight: lighter;
}   
@font-face {
font-family: opensans, sans-serif;
    src: url(./fonts/open-sans/OpenSans-Regular.woff)

} 
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(./fonts/open-sans/OpenSans-Bold.woff);
    font-weight: bold;
}
/*section1*/ 

.container1 {
    padding-top: 116px;
    padding-bottom: 438px;
}

.image01 {
    background-image: 50% 100%;
    background-repeat: no-repeat;
}

.bg-secondary-darken {
        background: #003c5a;
        color: #fff;
    }

.btn-primary {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    position: relative;
    background: #fc8f44;
    border-color: #fc8f44;
    border-radius: 40px;
    width: 250px;

    }

.btn-primary:hover {
    color: #fff;
    background: #f9a870;
    border-color: #fc8f44;
}    

.container {
    padding-top: 116px;
    padding-bottom: 438px;
}
.insert-3 {
    padding-top: 116px;
    padding-bottom: 438px;
}
