/*fonts*/

@font-face {
    font-family: merriweather;
    src: url(./fonts/merriweather/Merriweather-Regular.woff);
}

@font-face {
    font-family: merriweather_bold;
    src: url(./fonts/merriweather/Merriweather-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: merriweather_light;
    src: url(/fonts/merriweather/Merriweather-Light.woff);
    font-weight: lighter;
}

/*media-queries*/

@media (max-width: 991.98px) {
    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
        margin-bottom: 2rem;
    }

    .btn-center {
        display: block;
        margin: auto;
        margin-bottom: 2rem;
    }

    .img-center {
        display: block;
        margin: auto;
    }
}

/*section1-1*/

#worldmap {
    background-image: url('media/page01_img01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bg-secondary-darken {
    background-color: #003c5a;
}

.container {
    padding-top: 10%;
    padding-bottom: 400px;
}


h5 {
   font-size: 25px;
font-weight: lighter;
    color: #66b8e0;
}

/*section1-2*/
.bg-info {
    background-color: #edf4f8 !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2 {
    padding-top: 10%;
    padding-bottom: 0;
}

h2 {
    font-family: merriweather;
}

h3 {
    font-family: merriweather;
}

/*buttons*/

.btn-primary {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    background: #fc8f44;
    border-color: #fc8f44;
    border-radius: 40px;
    padding: .875rem 2rem;

}

.btn-primary:hover {
    color: #fff;
    background: #f9a870;
    border-color: #fc8f44;
}

/*========== SECTION 2 ==========*/

img {
    max-width: 100%;
}

.cont_width {
    max-width: 1142px;
    padding-top: 0;
    padding-bottom: 0;
}

/* section "reasons" */

#reasons>h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: merriweather_light;
    font-size: 40px;
    color: #252525;
}

.para_reasons {
    font-family: merriweather_light;
    font-size: 14px;
    margin-bottom: 60px;
    color: #858585;
}

.titres_section_reasons {
    margin-bottom: 20px;
    font-size: 22px;
    color: #555555;
    font-family: merriweather;
}

.d-flex>div>img {
    padding-right: 20px;
    width: 240px;
}

/* Section "our_book"  */

#our_book {
    background-color: #edf4f8;
    margin: 0;
}

.margin_paragraphe {
    padding-top: 100px;
    padding-bottom: 100px;
}

.para_1 {
    font-size: 2.7rem;
    color: #252525;
}

.para_2 {
    font-size: 2rem;
    color: #858585;
    font-family: merriweather_light;
}

.para_3 {
    font-size: 17px;
    color: #858585;
    font-family: merriweather_light;
}

.img_width {
    width: 160px;
    padding-right: 15px;
}

.img_our_book {
    padding-top: 100px;
}

@media (max-width: 991.98px) {
    .margin_paragraphe {
        text-align: center;
    }

    .img_our_book {
        padding-left: 15%;
    }
}

@media (max-width: 767.98px) {
    .div_center {
        text-align: center;
    }

    .img_width {
        width: 80px;
    }

    .img_our_book {
        padding-left: 0;
    }

}